yolov3.*
__pycache*
*.mp4
data/*
coco.names
*.jpg
*.jpeg
ultralytics_tutorials/*.pt
*.pt
runs*
.ipynb_checkpoints/*
TrackEval/*
TrackEvalYulun/*
ftc-train/*
ipynb-temp/*
*.avi
weights/*
yolov8n5e_dp/*
OfficalYolo_euclidean_*
answer.txt
